body{
    margin: 0;
}

#barDiv{
    background-color: darkgrey;
    position: absolute;
    left: 0;
    height: 100%;
    width: 8%;
}

#barDiv i{
    font-size: 50px;
}

#leftDiv{
    position: fixed;
    top: 110px;
    left: 240px;
    height: 30%;
    width: 20%;
    align-items: center;
}

#card{
    background-color: rgb(236, 236, 236);
    padding: 10px;
    align-items: center;
    width: 200px;
}

.card img{
    height: 100px;
    width: 170px;
    margin-bottom: 20px;
}