<div id="leftDiv" class="container">

    <div id="welcomeDiv" class="container mt-3">
        <p><b>Welcome to</b></p>
        <p>University of commons</p>
        <p style="padding-top: 20px ; font-size: 13px; color: grey;">Volunteer Management made easy</p>
    </div>
    <div style="position: absolute; bottom: 23px; left: 185px; font-size: x-small;">POWERED BY</div>
    <div style="position: absolute; bottom: 20px; left: 250px; font-size: medium; border-top-style: dotted;">COMMONS
    </div>
</div>


<div id="rightDiv" class="container">
    <div id="rightDiv1" class="container">
        <div style="font-size: medium;">UNIVERSITY OF</div>
        <div style="color: indigo; letter-spacing: 2px; font-size: large"><b>COMMONS</b></div>
    </div>

    <div id="rightDiv2" class="container">
        <form >
            <div class="inputWithIcon">
              <input type="email" class="form-control" id="email" placeholder="Email ID" required>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="inputWithIcon">
              <input type="password" class="form-control" id="pwd" placeholder="Password" required>
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
          </form>
    </div>
    <div class="submit">
      <button type="submit" class="btn btn-primary" (click)="onClick('dashboard')">Submit</button>
    </div>
    <div class="signUp">
      <p>Dont have an account? <a href="">Sign up</a></p>
    </div>
</div>
